<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Sprinkle</title>
    {%load static%} 
    <link rel="stylesheet" href="{% static "./css/index.css" %}?v={{ STATIC_VERSION }}">
    <link rel="icon" href="{% static 'images/logoimg.png' %}">
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/lightSlider.css' %}" /> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/lightslider.js' %}"></script>                 
    <script href="{% static 'js/index.js' %}"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>

<body> 

<nav  class="navbar navbar-expand-md " style="background-color:;">
    <div class="container">
       <div><i class="fa-solid fa-envelope"></i> BeautySprinkle.com</div> 
      
        <span style="padding-left: 30px;" ><i class="fa-solid fa-phone"></i> 9876543210</span>
      
        <a href="#" class="navbar-brand offset-2 fs-1 fw-bold " style="color: deeppink;">ℬeauty 𝒮prinkle</a>

   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
               <li class="nav-item">
                 <a   class="nav-link " aria-current="page" href="#home">Home</a>
               </li>
               <li class="nav-item">
                   <a  class="nav-link " aria-current="page" href="#top">Top Sales</a>
                 </li>
                 <li   class="nav-item">
                   <a class="nav-link " aria-current="page" href="#product">Products</a>
                 </li>
                 <li  class="nav-item">
                   <a  class="nav-link " aria-current="page" href="#contact">Contact</a>
                 </li>  
           </ul>
    </div> 
    <div>

</nav>
{% block content %} <br><br>
<center>
<h1 style="color: deeppink;">Signup</h1><br><br>
<div class="box">
    
    <form action="{% url 'signup' %}" method="POST">
        {%csrf_token%}
       
        <table>
            <tr>
                <td>Username:<br><br></td>
                <td><input type="text" name="uname" id=""><br><br></td>
            </tr>
            <tr>
                <td>Firstname:<br><br></td>
             <td><input type="text" name="fname" id=""><br><br></td>
            </tr>
            <tr>
                <td>Lastname:<br><br></td>
             <td><input type="text" name="lname" id=""><br><br></td>
            </tr>
            <tr>
                <td>Email:<br><br></td>
             <td><input type="text" name="email" id=""><br><br></td>
            </tr>
            <tr>
                <td>Password:<br><br></td>
             <td><input type="password" name="password" id=""><br><br></td>
            </tr>
            <tr>
                <td>Confirmpassword:<br><br></td>
             <td><input type="password" name="cpassword" id=""><br><br></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="submit" style="color: white; background-color: deeppink;border-radius: 5px;"></td>
            </tr>
           
        </table>
    </form>
</div>
</center>
<br><br>

<div   class="parent row" style="padding-left: 50px; width: 100%;" id="contact">
    <div class="child1 col-md-3"  >
        <h2>BeautySprinkle</h2><br><br>
        <p>123 Consectetur at 10660</p>
        <p><i class="fa-solid fa-phone-volume"></i>9876543210</p>
        <p><i class="fa-solid fa-envelope"></i>BeautySprinkle.com</p>
    </div>

    <div class="child2 col-md-3" style="display: flex-wrap;" >
        <h2>Product</h2><br><br>
        <a href="{% url 'lipstick' %}" style="color: white; text-decoration: none;"><p>LipStick</p></a>
        <a href="{% url 'mascara' %}" style="color: white; text-decoration: none;"><p>Mascarar</p></a>
        <a href="{% url 'eye' %}" style="color: white; text-decoration: none;"><p>Eyeliner</p></a>
        <a href="{% url 'mois' %}" style="color: white; text-decoration: none;"><p>Moisturisers</p></a>
        <a href="{% url 'serum' %}"style="color: white; text-decoration: none;"><p>Serum</p>
        </a>
    </div>
    <div class="child3 col-md-3" >
        <h2>Further Info</h2><br><br>
        <p>Home</p>
        <p>About us </p>
        <p>Shop Locations</p>
        <p>Contact</p>
    </div>    
    <div class="ch col-md-3" style="padding-left: 40px;padding-top: 30px;" ><br><br>
      <h2>Social Media</h2>
        <i class="fa-brands fa-facebook"  style="padding-left: 30px;"></i> <i  style="padding-left: 30px;"
           class="fa-brands fa-square-instagram"></i> <i  style="padding-left: 30px;" class="fa-brands fa-twitter"></i> 

    </div>

  </div>
{% endblock  %}
